body {
    background-color: rgb(200, 235, 183);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* multi-line */
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
}

.flex-container>div {
    text-align: center;
    font-size: 20px;
}

.flexbox {
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    /* multi-line */
    /* padding-right: 8px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.boxes {
    background-color: lightgrey;
    flex-grow: 1;
}

nav {
    padding-right: 10px;
    font-size: 7px;
}

div>a {
    padding-right: 10px;
}

.admin {
    background-color: red;
    /* font-family: fantasy;
     color: red; */
}

.error {
    background-color: red;
}

.active {
    background-color: lightblue;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 0.5rem;
}

.accepted, .ready, .taken, .repairing {
    background-color: gray;
    flex-grow: 1;
    color: white;
}
